* {
  margin: 0;
}

.navbar {
  background: rgb(251, 231, 5);
  background: linear-gradient(
    180deg,
    rgba(251, 231, 5, 1) 0%,
    rgba(249, 250, 18, 0.9026961126247374) 52%,
    rgba(255, 252, 0, 0.15479695296087181) 100%
  );
}

.start {
  background: rgb(23, 251, 5);
  background: linear-gradient(
    180deg,
    rgba(23, 251, 5, 1) 0%,
    rgba(48, 244, 47, 0.9026961126247374) 52%,
    rgba(87, 255, 64, 0.15479695296087181) 100%
  );
  color: rgb(14, 112, 47);
}
.block {
  min-width: 100px;
  min-height: 100px;
  font-size: 3rem;
}
.default {
  background-color: blueviolet;
}
.red {
  background-color: red;
  color: rgb(112, 21, 21);
}

.yellow {
  background-color: #fbed10;
  color: #7c6924;
}
.green {
  background-color: rgb(110, 255, 42);
  color: darkgreen;
}
.card {
  max-width: 500px;
  margin: auto;
}

img {
  position: absolute;
  bottom: 0px;
  z-index: -1;
}
